<div class="container agrnov" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3 nov">
            <h4 id="mod">Modificar una nueva novedad</h4>
            <br>
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <br>
                <div class="form-group">
                    <label for="">Título</label>
                    <input type="text" class="form-control" name="titulo" value="{{novedad.titulo}}">
                </div><br>
                <div class="form-group">
                    <label for="">Subtítulo</label>
                    <input type="text" class="form-control" name="subtitulo" value="{{novedad.subtitulo}}">
                </div><br>
               
                <div class="form-group">
                    <label for="">Cuerpo</label>
                    <textarea name="cuerpo" class="form-control">{{novedad.cuerpo}}</textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn"
                        style="background-color: #0f5a00; color: #fff; border: none; border-radius: 5px; padding: 10px 20px; cursor: pointer;">modificar</button>
                </div>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>

</div>